// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #231f1e;
  --main-text-color-dark: #2b2d34;

  /* current */
  --color-primary: yellow;
  --color-primary: #414042;
  --color-primary-d: #2f0d52;
  --color-primary-l: #915007;
  --color-primary-reverse: #0e3561;
  --color-text: #456300;
  --bg-gray: #8317561a;
  --color-grey: #7a0e32;
  --color-light-grey: #691111;
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "DINNextLTArabic";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
